@font-face {
	font-family: MicrosoftYaheiWeb;
	src: url('font/MicrosoftYahei_r.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: VerdanaWeb;
	src: url('font/Verdana_r.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: ProductSansWeb;
	src: url('font/ProductSans_r.ttf');
	font-weight: normal;
	font-style: normal;
}