#container {
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	top: 0;
	left: 0;
}

iframe {
	border: none;
	outline: none;
}
#tab-core {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}
#tab-conf, #tab-list {
	position: absolute;
	display: none;
}